<html>
<head>
    <title>
        Welcome to form !
    </title>
</head>
<body>
<h1>Please Upload the files here !</h1>
    <form method="POST" action="{{ url_for('upload_crawl_form') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <input type = "file" name = "files" multiple>
        <input type = "file" name = "legacy_new_file" >
        {{ form.submit }}
     </form>
</body>
</html>
