<html>
<head>
    <title>
        Welcome to form !
    </title>
</head>
<body>
<h1>This is the form page !</h1>
    <form method="POST" action="{{ url_for('crawl_form') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.hostname.label }}
        {{ form.hostname }}
        <input type = "file" name = "file" />
        <br>
        {{ form.device_model.label}}
        {{ form.device_model}}
        <br>
        {{ form.submit }}
     </form>
</body>
</html>
