<html>
<head>
    <title>
        Welcome to form !
    </title>
</head>
<body>
<h1>This is the form page !</h1>
<form method="POST" action="{{ url_for('form') }}">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}
    {{ form.password.label }}
    {{ form.password }}
    <input type="submit" value="Submit">
</form>
</body>
</html>
