<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div id="myDIV">
    <div class="container-fluid">
        <h4>Switch Information: </h4>
        <table class="table table-bordered dt-responsive table-condensed table-stripped" id="myTable1">
            <thead>
              <tr>
                  <th>Hostname</th>
                  <th>Model</th>
                  <th>Unique Vlans</th>
                  <th>Mgmt vlan</th>
                  <th>IP address</th>
              </tr>
            </thead>
            <tbody id="myTable3">
            {% for output in coreoutput %}
            <TR >
                   <TD class="c2">{{ output.hostname }}</TD>
                   <TD class="c2">{{ output.hostname_type }}</TD>
                   <TD class="c2">{{ output.unique_vlan }}</TD>
                   <TD class="c2">{{ output.ip_info[0] }}</TD>
                   <TD class="c2">{{ output.ip_info[1] }}</TD>
                </TR>
             </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="container-fluid ">
        <h3>Interface information: </h3>
        <input class="form-control" id="myInput" type="text" placeholder="Search.."><br>
        <table class="table table-bordered dt-responsive table-condensed table-stripped table-sm" id="myTable2">
            <thead>
              <tr>
                  <th>Hostname</th>
                  <th>Interface</th>
                  <th>Mode</th>
                  <th>Status</th>
                  <th>D-Vlan</th>
                  <th>V-Vlan</th>
                  <th>CDP-DeviceID</th>
                  <th>CDP-IP</th>
                  <th>CDP-Platform</th>
                  <th>CDP-Capabilities</th>
                  <th>CDP-Port</th>
                  <th>MAC Information</th>
                  <th>D-Flag</th>
                  <th>V-Flag</th>
                  <th>Description</th>
                  <th>New Switch</th>
                  <th>New Port</th>
              </tr>
            </thead>
            <tbody id="myTable">
            {% for output in coreoutput%}
            {% for int,int_info in output.interface_information.iteritems() %}
                {% if 'connected' in int_info.status %}
                    {% set row_class = "table-success" %}
                {% else %}
                    {% set row_class = "table-danger" %}
                {% endif %}
                <TR class = "{{ row_class }}">
                   <TD class="c2">{{output.hostname}}</TD>
                   <TD class="c2">{{int}}</TD>
                   <TD class="c2">{{int_info.sw_port_mode}}</TD>
                   <TD class="c2">{{int_info.status}}</TD>
                   <TD class="c2">{{int_info.data_vlan}}</TD>
                   <TD class="c2">{{int_info.voice_vlan}}</TD>
                   <TD class="c2">{{int_info.DeviceID}}</TD>
                   <TD class="c2">{{int_info.IPaddress}}</TD>
                   <TD class="c2">{{int_info.Platform}}</TD>
                   <TD class="c2">{{int_info.Capabilities}}</TD>
                   <TD class="c2">{{int_info.PortID_outgoingport}}</TD>
                   <TD class="c2">{{int_info.mac_data}}</TD>
                    <TD class="c2">{{int_info.data_flag}}</TD>
                   <TD class="c2">{{int_info.voice_flag}}</TD>
                   <TD class="c2">{{int_info.description}}</TD>
                    <TD class="c2">{{int_info.new_sw_info}}</TD>
                    <TD class="c2">{{int_info.new_port_info}}</TD>
                </TR>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>

